<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>画像変換アプリ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav class="header">
            <a href = "{{ url_for('login.index', user_name = user_name) }}">
                <div class="logo">📷</div>
            </a>
            <div class="sign">
                <a href="{{ url_for('login.logout') }}">
                    <button class="button">Logout</button>
                </a>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <h1> 画像を変換する</h1>
            <form action="{{ url_for('change.upload') }}" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="file" accept="image/*">
                <br>
                <br>
                <button type="submit" name="submit">画像を変換</button>
            </form>

        </div>

        <div class="manual">
            <h2> 使い方 </h2>
            <p> 1. 画像を選択してください</p>
            <p> 2. 画像を変換ボタンを押してください</p>
            <p> 3. 画像の変換方法を選択してください</p>
            <p> 4. 画像が変換されます</p>
        </div>
    </main>
</body>
</html>

